.rt {
    position: relative;
}
.ab {
    position: absolute;
}
.tar {
    text-align: right;
}
.ft12 {
    font-size: 12px;
}
.bold {
    font-weight: bold;
}
.text_left{
    text-align: left;
}
.text_center{
    text-align: center;
}
/*---------弹框公共部分css-----------*/
.popup{
  -webkit-transition:all 2s;
  transition:all 2s;
}
.bg{
  background:rgba(0, 0, 0, 0.5);
  width:100%;
  height:100%;
}
.z-fixed{
  position:fixed;
  bottom:0;
  left:0;
  width:100%;
  height: 100%;
}

/*---------弹框公共部分css-----------*/